html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.all {
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    border: 1px solid rgb(112, 109, 112);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(134, 129, 134);
    background: linear-gradient(90deg, rgba(232, 221, 232, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(232, 221, 232, 1) 100%)
}

header {
    padding: 1%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: rgb(99, 28, 99);
}

.content {
    font-size: large;
    padding-bottom: 0;
}

.fa-solid {
    margin-left: 18px;
}

.input-area {
    line-height: 30px;
}

.add-task:hover {
    border-color: rgb(207, 117, 207);
    background-color: rgb(207, 117, 207);

}

.hide {
    display: none;
}

h2 {
    color: rgb(99, 28, 99);
}

.task-list {
    padding: 0;
}

.liElement {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 2%;
    margin-bottom: 10px;
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 20px;
    font-size: large;
    line-height: 150%;
}

.tools {
    position: absolute;
    left: 83%;
}

.tools>button {
    background-color: transparent;
    border: none;
}

.tools>button:hover {
    color: rgb(212, 84, 212)
}

.category {
    position: absolute;
    left: 73%
}

.categoryButton {
    background-color: transparent;
    border: none;
}

.details {
    width: 100%;
    text-align: left;
    font-size: medium;
    line-height: 40%
}

.completed {
    text-decoration: line-through;
    color: #07b34f
}

.popup {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 800px;
    background-color: rgba(232, 221, 232, 0.466);
    border-radius: 5px;
}

.popup h3 {
    padding: 20px;
    color: rgb(85, 8, 85);
}

.popup-info {
    color: rgb(85, 8, 85);
    margin-bottom: 20px;
}

.popup-body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    padding: 10px;
}

.popup-input {
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: rgb(85, 8, 85);
    
}

.popup-btn {
    width: 30%;
    display: inline-block;
    padding: 10px 22px;
    margin: 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(189, 164, 189);
    text-transform: uppercase;
    cursor: pointer;
    transition: color .3s, background-color .3s;
}

.popup-btn:hover {
     background-color: rgb(224, 193, 224);
}