html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.all {
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    border: 1px solid rgb(112, 109, 112);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(134, 129, 134);
    background: linear-gradient(90deg, rgba(232, 221, 232, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(232, 221, 232, 1) 100%)
}

header {
    padding: 1%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: rgb(99, 28, 99);
}

.content {
    font-size: large;
    padding-bottom: 0;
}

.fa-solid {
    margin-left: 18px;
}

.input-area {
    line-height: 30px;
}

.add-task:hover {
    border-color: rgb(207, 117, 207);
    background-color: rgb(207, 117, 207);

}

.hide {
    display: none;
}

h2 {
    color: rgb(99, 28, 99);
}

.task-list {
    padding: 0;
}

.liElement {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 2%;
    margin-bottom: 10px;
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 20px;
    font-size: large;
    line-height: 150%;
}

.tools {
    position: absolute;
    left: 83%;
}

.tools>button {
    background-color: transparent;
    border: none;
}

.tools>button:hover {
    color: rgb(212, 84, 212)
}

.category {
    position: absolute;
    left: 73%
}

.categoryButton {
    background-color: transparent;
    border: none;
}

.details {
    width: 100%;
    text-align: left;
    font-size: medium;
    line-height: 40%
}
